.new-products__item {
    width: 135px;
    box-shadow: grey 0 0 10px 1px;
    padding: 20px 25px;
    max-height: 312px;
    margin-right: 62px;
    transition: 0.3s;
}

.new-products__item:hover {
    cursor: pointer;
    transform: scale(1.03);
}

.new-products__item-link {
    text-decoration: none;
    color: black;
}

.new-products__item-image {
    width: 100%;
    max-height: 190px;
}

.new-products__item-price {
    text-align: start;
    font-size: 18px;
}

.new-products__item-title {
    text-align: start;
    font-size: 12px;
    margin-bottom: 0;
    width: 148px;
}

.new-products__item-author {
    text-align: start;
    font-size: 12px;
    margin-top: 2px;
    margin-bottom: 0;
    width: 136px;
}

.new-products__item-button {
    border: none;
    padding: 10px;
    background-color: rgba(225, 106, 0, 1);
    border-radius: 3px;
    font-weight: 900;
    font-size: 12px;
    color: white;
    margin-top: 20px;
    transition: 0.4s;
}

.new-products__item-button:hover {
    cursor: pointer;
    opacity: 0.5;
}
