.basket__elem {
    display: flex;
    max-width: 90%;
    justify-content: center;
    margin: 50px auto 0;
    flex-wrap: wrap;
    gap: 100px;
    align-items: center;
    padding: 30px 20px;
    box-shadow: rgba(198, 198, 198, 0.457) 0 0 10px 5px;
    border-radius: 10px;
    text-decoration: none;
    color: black;
}

.basket__elem__info-block {
    width: 300px;
}

.basket__elem__author {
    font-weight: normal;
}

.basket__elem__num-of-products {
    display: flex;
    min-width: 100px;
    justify-content: center;
    gap: 20px;
    margin-left: 50px;
    align-items: center;
}

.basket__elem__num-of-products__button {
    font-size: 25px;
    width: 35px;
    height: 35px;
    border: none;
    background-color: rgba(198, 198, 198, 0.457);
    border-radius: 10px;
    transition: 0.4s;
}

.basket__elem__num-of-products__button:hover {
    cursor: pointer;
    background-color: rgba(198, 198, 198, 0.957);
}

@media screen and (max-width: 1025px) {
    .basket__elem {
        justify-content: space-between;
        padding: 30px 50px;
    }

    .basket__elem__num-of-products {
        margin-left: 0;
    }
}

@media screen and (max-width: 607px) {
    .basket__elem {
        justify-content: center;
    }

    .basket__elem__title {
        text-align: center;
    }
    .basket__elem__author {
        text-align: center;
    }
}
