.status {
    margin-top: 100px;
}

.status__line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: 10px;
    background-color: #ccc;
    position: relative;
    margin: auto;
    border-radius: 10px;
  }
  
  .status__point {
    position: relative;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #ccc;
  }

  .status__label {
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-weight: bold;
  }
  
  .status__point--active {
    background-color: orange;
  }
  
  .status__point--active:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: orange;
    z-index: -1;
  }

  .status__fill {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: orange;
    z-index: 2;
    border-radius: 15px;
  }

@media screen and (max-width: 465px) {
    .status__label {
        font-size: 11px;
    }
}